body {
  background-color: #E5E5FF;
}

#heading {
  padding: 15px;
  background-color: midnightblue;
  color: white;
  width: 100%;
}
#heading h1 {
  margin-left: 65%;
}

/* Big Screens */ 
@media (min-width: 768px) {
  #heading h1 {
    margin-left: 75%;
  }
} 
/* Phones */
@media (max-width: 500px) {
  #heading h1 {
    margin-left: 55%;
  }
}

#dashboard {
  padding: 15px;
  margin: 15px;
  background-color: white;
  max-width: 90%;
  border-radius: 15px;
}

#dashboard p {
font-size: 4vw;
}

#dashboard a {
font-size: 2vw;
}
.passive {
  color: red;
}

.triggered {
  color: darkslategray;
}
